<div ng-include="'components/action/filters.html'"></div>
<div class="row" ng-if="model.reportReady">
    <div ng-if="model.dataExists">
        <span class="col-sm-12 hideInPrint">
            <span class="dropdown">
                <label class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-attr-title="{{'download_as'| translate}}"><i class="fa fa-download"></i></label>
                <ul class="dropdown-menu">
                    <li><h6 class="dropdown-header">{{'download_as'| translate}}</h6></li>
                    <li class="divider"></li>
                    <li><a href ng-click="exportData('performance')">{{'csv'| translate}}</a></li>
                    <li><a href onclick="javascript:window.print()">{{'pdf'| translate}}</a></li>
                </ul>
            </span>
        </span>
        <div id="performance" class="col-sm-12 table-scroll">
            <table>
                <tr>
                    <td class="alert alert-warning" ng-repeat="period in model.reportPeriods" ng-if="!period.hasData">
                        {{period.displayName}} - {{'has_no_budget_data' | translate}}
                    </td>
                </tr>
            </table>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="sticky"></th>
                        <th class="sticky"></th>
                        <th class="sticky"></th>
                        <th class="center sticky" colspan="{{period.colSpan}}" ng-repeat="period in model.reportPeriods" ng-if="period.hasData">
                            {{period.displayName}}
                        </th>
                    </tr>
                    <tr>
                        <th class="sticky">{{'sub_interventions'| translate}}</th>
                        <th class="sticky">{{'outputs'| translate}}</th>
                        <th class="sticky">{{'action'| translate}}</th>
                        <th class="center sticky" ng-repeat="header in model.dataHeaders">
                            {{header.name}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in model.tableRows">
                        <td>
                            {{row.dataElementGroupSet}}
                        </td>
                        <td>
                            {{row.dataElementGroup}}
                        </td>
                        <td>
                            <span ng-if="model.showExplanation">[{{model.commentRow[row.dataElementId]}}]</span> {{row.dataElement}}
                            <i ng-click="getIndicatorDictionary(row.dataElementId)" class="fa fa-info-circle info-icon cursor-pointer hideInPrint" aria-hidden="true" title="{{'indicator_dictionary'| translate}}"></i>
                        </td>
                        <td ng-repeat="dh in model.dataHeaders"
                            ng-style="row.styles[dh.dimensionId + '.' + dh.periodId].trafficLight"
                            ng-class="row.styles[dh.dimensionId + '.' + dh.periodId].printStyle">
                            <span ng-if="dh.isRowData">{{row.values[dh.dimensionId + '.' + dh.periodId]}}</span>
                            <span ng-if="!dh.isRowData">{{getBudgetPercentage(row.values, dh)}}</span>
                        </td>
                        <!--<td>
                            {{getBudgetPercentage(row.values, dh.periodId, model.budgetDimension, model.releaseDimension)}}
                        </td>
                        <td>
                            {{getBudgetPercentage(row.values, dh.periodId, model.budgetDimension, model.spentDimension)}}
                        </td>
                        <td>
                            {{getBudgetPercentage(row.values, dh.periodId, model.releaseDimension, model.spentDimension)}}
                        </td>-->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-12" ng-if="!model.dataExists">
        <div class="alert alert-warning">
            {{'no_data_exists'| translate}}
        </div>
    </div>
</div>